@import "tailwindcss";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@theme {
  --color-bg: #1a202e;
  --color-card: #11161d;

  --color-accent: #ed5b82;
  --color-accent-hover: #d44a6f;

  --color-text: #e2e8f0;
  --color-muted: #64748b;

  --color-border: rgba(255, 255, 255, 0.08);
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    @apply bg-bg text-text m-0 min-h-screen;
  }
}